[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/Kaj9296/glfw/tree/master
